@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {

    .line {
        position: absolute;
        margin-left: 40px;
        margin-top: 320px;
    }

    .octopus {
        position: absolute;
        top: 350px;
    }

    .header__skills {
        position: relative;
        left: 170px;
        top: 200px;
        text-align: left;
        font-size: 400%;
    }

    .header__author {
        position: relative;
        left: 270px;
        top: 210px;
        font-size: 300%;
    }

    .progress__now {
        position: absolute;
        margin-left: 10px;

    }

    .progress {
        position: relative;
        top: 300px;
        left: 20px;
        width: 100%;
        font-size: 130%;
    }
}

body {
    width: auto;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: #A1A7E0;
}

.header {
    position: absolute;
    margin: 19px;
    font-size: 100%;
}

.octopus__head {
    position: absolute;
    top: 162px;
    left: 650px;
    width: 280px;
    height: 334px;
    margin-right: 5px;
    background: #D9ADE1;
    border: 1px solid black;
    border-radius: 0% 50% 50% 0;
    border-left: 0;
}

.octopus__eye {
    position: absolute;
    top: 250px;
    left: 830px;
    width: 60px;
    height: 60px;
    float: left;
    background: #fff;
    border-radius: 100%;
    border: 1px solid black;
}

.octopus__pupil {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 20px;
    opacity: 70%;
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 100%;
}

.octopus__pupil:hover {
    transition: 2s;
    background: rgb(177, 2, 2);
}

.octopus__mouth {
    position: absolute;
    top: 400px;
    left: 840px;
    width: 45px;
    height: 18px;
    background: #fff;
    border: 1px solid black;
    border-radius: 30%;
}

.octopus__skills {
    position: absolute;
    top: 142px;
    left: 450px;
    width: 175px;
    list-style: none;
    text-align: right;
    font-size: 20px;
    line-height: 40px;
    max-block-size: 22.89px;
}

.octopus__ruby {
    position: relative;
    margin-left: -30%;
    padding-right: 10px;
    background: linear-gradient(to right, #b195b6 90%, #8A6F8F 90%);
    border-radius: 20% 0% 0% 100%;
    border: 1px solid black;
    border-right: 0;
}

.octopus__rails {
    position: relative;
    margin-left: -30%;
    padding-right: 10px;
    background: linear-gradient(to right, #b195b6 95%, #8A6F8F 95%);
    border-radius: 20% 0% 0% 70%;
    border: 1px solid black;
    border-right: 0;
}

.octopus__js {
    position: relative;
    margin-left: -10%;
    padding-right: 10px;
    background: linear-gradient(to right, #b195b6 95%, #8A6F8F 95%);
    border-radius: 20% 0% 0% 70%;
    border: 1px solid black;
    border-right: 0;
}

.octopus__react {
    position: relative;
    margin-left: -13%;
    padding-right: 10px;
    background: linear-gradient(to right, #b195b6 96%, #8A6F8F 96%);
    border-radius: 100% 0% 0% 70%;
    border: 1px solid black;
    border-right: 0;
}

.octopus__english {
    position: relative;
    margin-left: -13%;
    padding-right: 10px;
    background: linear-gradient(to right, #b195b6 80%, #8A6F8F 80%);
    border-radius: 80% 0% 0% 20%;
    border: 1px solid black;
    border-right: 0;
}

.octopus__html {
    position: relative;
    margin-left: -70%;
    padding-right: 10px;
    background: linear-gradient(to right, #b195b6 65%, #8A6F8F 65%);
    border-radius: 20% 0% 0% 70%;
    border: 1px solid black;
    border-right: 0;
}

.octopus__css {
    position: relative;
    margin-left: -60%;
    padding-right: 10px;
    background: linear-gradient(to right, #b195b6 70%, #8A6F8F 70%);
    border-radius: 90% 0% 0% 90%;
    border: 1px solid black;
    border-right: 0;
}

.octopus__piano {
    position: relative;
    margin-left: -100%;
    padding-right: 10px;
    background: linear-gradient(to right, #b195b6 60%, #8A6F8F 60%);
    border-radius: 0% 0% 0% 100%;
    border: 1px solid black;
    border-right: 0;
}

.octopus__slills_invisible,
span {
    display: none;
}

.progress__now {
    position: absolute;
    left: 550px;
    top: 630px;
    color: #ffffff;
    font-size: 170%;
}

.progress__year {
    position: absolute;
    left: 260px;
    top: 630px;
    color: #ffffff;
    font-size: 170%;
}

.progress__year::after {
    content: "";
    position: absolute;
    left: 150px;
    top: 5px;
    width: 25px;
    height: 25px;
    margin-left: 15%;
    display: inline-block;
    background: #b195b6;
    border: 1px solid black;
    border-radius: 50%;
}

.progress__now::after {
    content: "";
    position: absolute;
    left: 110px;
    top: 5px;
    width: 25px;
    height: 25px;
    margin-left: 15%;
    display: inline-block;
    background: #8A6F8F;
    border: 1px solid black;
    border-radius: 50%;
}

.line {
    position: absolute;
    left: 150px;
    height: 400px;
    top: 150px;
    border-left: 2px dashed rgb(255, 8, 8);
}

.line::after {
    content: "100%";
    position: absolute;
    top: 400px;
    margin: 10px;
    font-size: 35px;
}
